name: Workflow for Jenkins Client

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - 'main'

jobs:
  LintAndTest:
    runs-on: ubuntu-20.04
    steps:
      - name: Set up Go 1.23
        uses: actions/setup-go@v2.1.3
        with:
          go-version: 1.23
      - uses: actions/checkout@v2
      # See also https://github.com/GoogleCloudPlatform/golang-samples/blob/78dfa41f10b449ba7a06d9793cbd81878d44a4fb/.github/workflows/go.yaml#L29-L53
      - name: Run go mod tidy on root modules
        run: go mod tidy
      # If there are any diffs from go mod tidy, fail.
      - name: Verify no changes from go mod tidy.
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo 'To fix this check, run "go mod tidy"'
            git diff
            git status # Show the files that failed to pass the check.
            exit 1
          fi
      - name: Run make fmt on root modules
        run: make fmt
      - name: Verify on changes from make fmt
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo 'To fix this check, run "make fmt"'
            git diff
            git status # Show the files that failed to pass the check.
            exit 1
          fi
      - name: test
        run: make test
